model_config_list: {
config: {
name: "cctv_news",
base_path: "/models/multiModel/cctv_news",
model_platform: "tensorflow"
},
config: {
name: "sogou",
base_path: "/models/multiModel/sogou",
model_platform: "tensorflow"
},
config: {
name: "weibo_comments",
base_path: "/models/multiModel/weibo_comments",
model_platform: "tensorflow"
}
}
